.products__wrapper {
    /* background-color: var(--second-brand-color); */
}
.products {
    text-align: center;
    padding: 15rem 0 20rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
    text-align: center;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 7rem;
}
.products .item {
    margin-top: 4.5rem;
    position: relative;
}
.product__block {
    max-width: 60rem;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.product {
    display: block;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.product__text-box {
    position: relative;
}
.product__img-box {
    padding: 7rem 0;
}
.product .img {
    width: 95%;
    min-height: 25rem;
    max-height: 25rem;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__name {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.product__price {
    display: block;
    font-size: 2rem;
    font-family: var(--title-font);
}
.product__text-box {
    padding: 3rem 0 10rem;
}
/* .product__btn {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translate(-50%, 0);
    width: 90%;
    border-radius: 1rem;
} */
.products__list .item:first-child .product__block,
.products__list .item:first-child .product__block .product__text-box, 
.products__list .item:nth-child(6) .product__block,
.products__list .item:nth-child(6) .product__block .product__text-box {
    background-color: var(--fourth-brand-color);
}
.products__list .item:nth-child(2) .product__block,
.products__list .item:nth-child(2) .product__block .product__text-box {
    background-color: var(--third-brand-color);
}
.products__list .item:nth-child(3) .product__block,
.products__list .item:nth-child(3) .product__block .product__text-box,
.products__list .item:nth-child(5) .product__block,
.products__list .item:nth-child(5) .product__block .product__text-box {
    background-color: var(--first-brand-color);
}
.products__list .item:nth-child(4) .product__block,
.products__list .item:nth-child(4) .product__block .product__text-box {
    background-color: var(--second-brand-color);
}
@media screen and (min-width: 1024px) {  
    .products__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .products__list .item {
        width: 30%;
    }
    .products__list .item:nth-child(2) .product .img {
        min-height: 35rem;
        max-height: 35rem;
    }
    .products__list .item:nth-child(4),
    .products__list .item:nth-child(6) {
        margin-top: -5.5rem;
    }
    .product__text-box {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        writing-mode: vertical-rl;
        display: flex;
        align-items: center;
        padding: 1rem;
        max-width: 100%;
    }
    .product__name {
        white-space: nowrap;
        margin: 0 0 2rem 0;
        text-decoration: underline;
        font-size: 2.5rem;
    }
    .product__btn {
      position: absolute;
    }
}


