:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #f0d9cf;
  --second-brand-color: #c1dad0;
  --third-brand-color: #f27d70;
  --fourth-brand-color: #f3bbb9;

  --main-font:  'Spartan';
  --title-font:  'Spartan Bold';

  font-size: 62.5%;
}
